@media (max-width: 1700px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1399px) {
}
@media (max-width: 1350px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
   .header {
      &__wrapper {
         padding: 3px 15px;
      }
      .container {
         padding: 0;
      }
   }
   .logo {
      order: 1;
   }
   .menu {
      order: 3;
      &__btn {
         z-index: 1000;
         display: flex;
         order: 4;
      }
      &__btn.active {
         transition: all 0.3s;
         &::before {
            transform: rotate(45deg);
            top: 9px;
         }
         &::after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
         span {
            transform: scale(0);
         }
      }
      &__list {
         padding-top: 44px !important;
         top: -100%;
         flex-direction: column;
         justify-content: start;
         gap: 20px 0;
         background-color: $accent;
         position: fixed;
         top: -100%;
         left: 0;
         right: 0;
         width: 100%;
         height: 100%;
         z-index: -10;
         transition: all 0.3s;
      }
      &__list.active {
         display: flex;
         top: 60px;
      }
      &__link {
         font-size: 1.5625rem;
      }
      &__user-nav {
         order: 2;
      }
   }
}
@media (max-width: 650px) {
}
@media (max-width: 550px) {
}
@media (max-width: 470px) {
   .logo {
      margin-right: 18px;
   }
}
@media (max-width: 400px) {
}
