@media (max-width: 1700px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1400px) {
   .top-banner {
      &__inner {
         padding-top: 350px;
      }
   }
   .best-sellers {
      &__wrapper {
         flex-wrap: wrap;
         justify-content: center;
      }
      &__info {
         max-width: 100%;
         text-align: center;
      }
      &__btn {
         margin: 0 auto;
         margin-bottom: 35px;
      }
   }
}
@media (max-width: 1350px) {
   .top-banner {
      &__inner {
         padding-top: 250px;
      }
   }
   .advantages {
      &__title {
         font-size: 2.625rem;
         line-height: 3.425rem;
         margin-bottom: 35px;
      }
      &__items {
         margin-bottom: 30px;
      }
      &__info {
         // max-width: 270px;
         font-size: 1.25rem;
         line-height: 2.205rem;
      }
   }
   .guide {
      &__img-box {
         &::after {
            display: none;
         }
      }
   }
}
@media (max-width: 1250px) {
   .top-banner {
      &__inner {
         padding-top: 150px;
      }
   }
   .prompting {
      &__wrapper {
         padding: 100px 0 100px;
      }
   }
   .best-sellers {
      &__slider-item {
         max-width: 310px;
      }
   }
   .advantages {
      &__title {
         font-size: 2.25rem;
         line-height: 3rem;
         margin-bottom: 35px;
      }
      &__items {
         gap: 0 10px;
      }
      &__item {
         padding: 10px 5px;
      }
      &__info {
         font-size: 1.25rem;
         line-height: 2.205rem;
      }
   }
   .guide {
      &__wrapper {
         gap: 0 30px;
      }
      &__title {
         font-size: 2rem;
      }
      &__img-box {
         &::after {
            display: none;
         }
      }
   }
   .our-products {
      &__wrapper {
         padding: 0;
      }
   }
}
@media (max-width: 991.98px) {
   .top-banner {
      &__wrapper {
         margin-bottom: 50px;
      }
      &__inner {
         padding-top: 130px;
         padding-left: 30px;
      }
      &__title {
         font-size: 2.625rem;
         line-height: 3.3rem;
         margin-bottom: 30px;
      }
   }
   .prompting {
      &__wrapper {
         padding: 150px 0 100px;
      }
      &__title {
         font-size: 2.625rem;
         line-height: 3.3rem;
         margin-bottom: 30px;
      }
   }
   .best-sellers {
      &__slider-item {
         max-width: 100%;
         padding: 0 7px;
      }
      &__slider-title-link {
         font-size: 1rem;
         line-height: 1.5rem;
      }
   }
   .advantages {
      &__wrapper {
         margin-bottom: 50px;
      }
      &__title {
         font-size: 2rem;
         margin-bottom: 25px;
      }
      &__items {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
         gap: 25px 7px;
      }
      &__item {
         padding: 10px 5px;
      }
   }
   .guide {
      &__title {
         font-size: 1.75rem;
         line-height: 2.625rem;
      }
      &__text {
         margin-bottom: 30px;
      }
   }
   .our-products {
      &__title {
         font-size: 2.875rem;
         line-height: 3.625rem;
         margin-bottom: 35px;
      }
      &__title-link {
         font-size: 1.125rem;
         line-height: 1.5rem;
      }
   }
   .footer-nav {
      gap: 0 7px;
      padding: 0px;
      margin-bottom: 53px;
      &__link {
         font-size: 0.875rem;
      }
   }
   .footer-copyright {
      &__wrapper {
         padding: 0;
      }
      &__links {
         gap: 0 10px;
      }
   }
}
@media (max-width: 767.98px) {
   .header {
      &__wrapper {
         padding: 3px 15px;
      }
      .container {
         padding: 0;
      }
   }
   .logo {
      order: 1;
   }
   .menu {
      order: 3;
      &__btn {
         z-index: 1000;
         display: flex;
         order: 4;
      }
      &__btn.active {
         transition: all 0.3s;
         &::before {
            transform: rotate(45deg);
            top: 9px;
         }
         &::after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
         span {
            transform: scale(0);
         }
      }
      &__list {
         padding-top: 44px !important;
         top: -100%;
         flex-direction: column;
         justify-content: start;
         gap: 20px 0;
         background-color: $accent;
         position: fixed;
         top: -100%;
         left: 0;
         right: 0;
         width: 100%;
         height: 100%;
         z-index: -10;
         transition: all 0.3s;
      }
      &__list.active {
         display: flex;
         top: 60px;
      }
      &__link {
         font-size: 1.5625rem;
      }
      &__user-nav {
         order: 2;
      }
   }
   .top-banner {
      &__inner {
         padding-top: 80px;
         padding-left: 30px;
         padding-bottom: 0;
      }
      &__title {
         font-size: 2.375rem;
         line-height: 3rem;
         margin-bottom: 30px;
      }
      &__info {
         display: none;
      }
   }
   .prompting {
      &__wrapper {
         padding: 100px 0 100px;
      }
      &__title {
         font-size: 2.375rem;
         line-height: 3rem;
         margin-bottom: 30px;
      }
   }
   .reviews {
      &__img-box {
         display: none;
      }
      &__text {
         font-size: 2rem;
         line-height: 2.875rem;
      }
   }
   .guide {
      &__wrapper {
         flex-wrap: wrap;
         gap: 30px 0;
      }
      &__info {
         max-width: 100%;
         width: 100%;
      }
      &__text {
         max-width: 100%;
      }
      &__img-box {
         max-width: 100%;
         width: 100%;
      }
   }
   .our-products {
      &__wrapper {
         margin-bottom: 30px;
      }
   }
   .updates {
      &__wrapper {
         margin-bottom: 50px;
         &::before {
            display: none;
         }
      }
      &__title {
         font-size: 2rem;
         line-height: 2.875rem;
         max-width: 100%;
         margin: 0 auto;
         padding-top: 26px;
         margin-bottom: 20px;
      }
      &__inner {
         padding: 0;
      }
   }
   .footer-nav {
      gap: 25px 0;
      &__nav {
         max-width: 100%;
      }
      flex-wrap: wrap;
      &__title {
         pointer-events: auto;
         max-width: 100%;
         padding-bottom: 15px;
         position: relative;
         font-size: 1.625rem;
         &::before,
         &::after {
            content: "";
            position: absolute;
            transition: all 0.3s;
            width: 12px;
            height: 2px;
            background-color: $accent;
         }
         &::before {
            right: 9px;
            transform: rotate(45deg);
         }
         &::after {
            right: 0;
            transform: rotate(-45deg);
         }
      }
      &__title.footer-nav__title--active {
         &::before {
            right: 9px;
            transform: rotate(-45deg);
         }
         &::after {
            right: 0;
            transform: rotate(45deg);
         }
      }
      &__list {
         display: none;
      }
      &__item {
         margin-bottom: 15px;
      }
      &__item:last-child {
         margin-bottom: 0;
      }
      &__link {
         font-size: 20px;
      }
   }
   .footer-copyright {
      &__wrapper {
         flex-wrap: wrap;
         gap: 15px 20px;
      }
   }
}
@media (max-width: 650px) {
   .top-banner {
      &__title {
         font-size: 2rem;
         line-height: 2.625rem;
         margin-bottom: 30px;
      }
   }
   .prompting {
      &__wrapper {
         padding: 50px 0 80px;
         gap: 30px 0;
      }
      &__title {
         font-size: 2rem;
         line-height: 2.625rem;
         margin-bottom: 30px;
         margin-bottom: 0;
      }
   }
   .reviews {
      &__wrapper {
         margin-bottom: 50px;
      }
      &__slider-inner {
         padding: 50px 0;
      }
      &__text {
         font-size: 1.5rem;
         line-height: 2rem;
      }
   }
   .advantages {
      &__wrapper {
         margin-bottom: 50px;
      }
      &__title {
         font-size: 1.75rem;
         line-height: 2.25rem;
      }
      &__info {
         font-size: 1.125rem;
         line-height: 1.75rem;
      }
   }
   .our-products {
      &__items {
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         gap: 20px 0;
      }
   }
}
@media (max-width: 550px) {
   %btn {
      line-height: 1.5rem;
      padding: 8px 17px;
      gap: 0 8px;
      border-radius: 40px;
   }
}
@media (max-width: 500px) {
   .top-banner {
      &__inner {
         padding-top: 64px;
         padding-left: 0px;
      }
      &__title {
         font-size: 1.625rem;
         line-height: 2rem;
         margin-bottom: 10px;
      }
      &__subtitle {
         margin-bottom: 5px;
      }
   }
   .best-sellers {
      &__wrapper {
         margin-bottom: 50px;
      }
      &__title {
         font-size: 1.625rem;
         line-height: 2rem;
         margin-bottom: 10px;
      }
      &__btn {
         max-width: 195px;
      }
      .slick-prev {
         right: 60px;
      }
      .slick-next {
         right: 0px;
      }
   }
   .our-products {
      &__title {
         font-size: 2rem;
         line-height: 2.875rem;
         margin-bottom: 25px;
      }
   }
}
@media (max-width: 470px) {
   .logo {
      margin-right: 18px;
   }
   .top-banner {
      &__inner {
         padding-left: 0px;
      }
      &__title {
         font-size: 1.625rem;
         line-height: 2rem;
         margin-bottom: 10px;
      }
      &__subtitle {
         margin-bottom: 5px;
      }
   }
   .updates {
      &__title {
         font-size: 1.625rem;
         line-height: 2.125rem;
         max-width: 100%;
         margin: 0 auto;
         padding-top: 26px;
         margin-bottom: 20px;
      }
   }
   .footer-top {
      &__wrapper {
         padding: 30px 0;
      }
   }
}
@media (max-width: 430px) {
   .best-sellers {
      &__wrapper {
         margin-bottom: 35px;
      }
      &__slider-item {
         max-width: 97%;
         width: 100%;
      }
   }
   .advantages {
      &__wrapper {
         margin-bottom: 35px;
      }
      &__items {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
@media (max-width: 380px) {
   .top-banner {
      &__btn {
         display: none;
      }
   }
}
