$default: #212806;
$hover: #b48d62;
$accent: #fcf8f3;

%btn {
   @extend %roboto-400;
   background-color: $default;
   font-size: 1rem;
   line-height: 1.575rem;
   color: $accent;
   padding: 10px 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0 18px;
   border-radius: 40px;
   border: 1px solid $default;
   cursor: pointer;
   transition: all 0.2s;
   &:hover {
      color: $default;
      background-color: $hover;
   }
}

%roboto-700 {
   font-family: "Roboto-Bold", sans-serif;
   font-weight: 700;
}

%roboto-400 {
   font-family: "Roboto-Regular", sans-serif;
   font-weight: 400;
}
