<footer class="footer">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer-top">
            <div class="footer-top__wrapper">
               <a href="#" class="footer-top__logo">
                  <svg class="footer-top__logo-svg">
                        <use
                           xlink:href="images/sprite.svg#logo"
                           width="100"
                           height="50"
                        ></use>
                     </svg>
               </a>
               <div class="footer-top__nav">
                  <a class="footer-top__link" href="https://www.instagram.com/" target="_blank">Instagram</a>
                  <a class="footer-top__link" href="https://www.facebook.com/" target="_blank">Facebook</a>
               </div>
            </div>
         </div>
         <div class="footer-nav">
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">Shop</h5>
               <ul class="footer-nav__list">
                  <a class="footer-nav__link" href="#">Shop All</a>
                  <a class="footer-nav__link" href="#">Greeting Cards</a>
                  <a class="footer-nav__link" href="#">Assorted Card Sets</a>
                  <a class="footer-nav__link" href="#">Notebooks</a>
               </ul>
            </nav>
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">About</h5>
               <ul class="footer-nav__list">
                  <a class="footer-nav__link" href="#">Our Story</a>
                  <a class="footer-nav__link" href="#">Our Values</a>
                  <a class="footer-nav__link" href="#">Journal</a>
                  <a class="footer-nav__link" href="#">Sustainability</a>
               </ul>
            </nav>
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">Customer Care</h5>
               <ul class="footer-nav__list">
                  <a class="footer-nav__link" href="#">Contact Us</a>
                  <a class="footer-nav__link" href="#">FAQs</a>
                  <a class="footer-nav__link" href="#">Returns & Exchanges</a>
                  <a class="footer-nav__link" href="#">Support</a>
               </ul>
            </nav>
            <nav class="footer-nav__nav">
               <h5 class="footer-nav__title">Wholesale</h5>
               <ul class="footer-nav__list">
                  <a class="footer-nav__link" href="#">Overview</a>
                  <a class="footer-nav__link" href="#">Register as a Wholesaler</a>
                  <a class="footer-nav__link" href="#">Access the Wholesale Store</a>
               </ul>
            </nav>
         </div>
         <div class="footer-copyright">
            <div class="footer-copyright__wrapper">
               <div class="footer-copyright__info">&#169; 2021 Twigs Paper. All Rights Reserved.</div>
               <div class="footer-copyright__links">
                  <a href="" class="footer-copyright__link"></a>
                  <a href="" class="footer-copyright__link"></a>
               </div>
               <div class="footer-copyright__by">
                  Built by
                  <span>The Papestielliz</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>
<!-- footer	 -->
</html>