<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>twigs</title>
      <link rel="stylesheet" href="css/style.min.css" />
   </head>
   <body>
      <div class="wrapper">
         <header class="header">
            <div class="container">
               <div class="header__wrapper wow animate__fadeInDown">
                  <a href="#header" class="logo">
                     <svg class="logo__svg">
                        <use
                           xlink:href="images/sprite.svg#logo"
                           width="100"
                           height="50"
                        ></use>
                     </svg>
                  </a>
                  <nav class="menu" id="menu">
                     <ul class="menu__list">
                        <li class="menu__item">
                           <a class="menu__link" href="#best-sellers">Shop</a>
                        </li>
                        <li class="menu__item">
                           <a class="menu__link" href="#reviews">About</a>
                        </li>
                        <li class="menu__item">
                           <a class="menu__link" href="#our-products">Sustainability</a>
                        </li>
                     </ul>
                  </nav>
                  <button class="menu__btn"><span></span></button>
                  <ul class="menu__user-nav">
                     <li class="menu__user-nav-item">
                        <a class="menu__user-nav-link" href="#"
                           ><svg class="menu__user-nav-svg">
                              <use
                                 xlink:href="images/sprite.svg#search"
                                 width="32"
                                 height="32"
                              ></use>
                           </svg>
                        </a>
                     </li>
                     <li class="menu__user-nav-item">
                        <a class="menu__user-nav-link" href="#">
                           <svg class="menu__user-nav-svg">
                              <use
                                 xlink:href="images/sprite.svg#cart"
                                 width="32"
                                 height="32"
                              ></use>
                           </svg>
                           <span class="menu__user-nav-cart">0</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </header>
      </divs>
   </bodys>
</htmls>
