<main class="main">
   <section class="top-banner">
      <div class="container">
         <div class="top-banner__wrapper">
            <div class="top-banner__img-box">
               <img
                  class="top-banner__img"
                  src="images/top-banner.webp"
                  alt="banner"
               />
            </div>
            <div class="top-banner__inner">
               <h5 class="top-banner__subtitle">the eco-friendly way to</h5>
               <h1 class="top-banner__title">
                  Give the best wishes to your loved ones.
               </h1>
               <button class="top-banner__btn">
                  Shop Now
                  <svg class="top-banner__btn-svg">
                     <use
                        xlink:href="images/sprite.svg#arrow-right"
                        width="32"
                        height="14"
                     ></use>
                  </svg>
               </button>
            </div>
            <div class="top-banner__info">
               <div class="top-banner__info-item">Customer Feedback</div>
               <div class="top-banner__info-svg-box">
                  <svg class="top-banner__info-svg">
                     <use
                        xlink:href="images/sprite.svg#stars"
                        width="150"
                        height="24"
                     ></use>
                  </svg>
               </div>
               <div class="top-banner__info-item">
                  based on 1000+ Etsy Reviews
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="prompting">
      <div class="container">
         <div class="prompting__wrapper">
            <h2 class="prompting__title">
               Our smallest choices have the potential for the biggest impact.
               Let’s make good ones together.
            </h2>
            <button class="prompting__btn">
               Sustainability
               <svg class="prompting__btn-svg">
                  <use
                     xlink:href="images/sprite.svg#arrow-right"
                     width="32"
                     height="14"
                  ></use>
               </svg>
            </button>
         </div>
      </div>
   </section>
   <section class="best-sellers">
      <div class="container">
         <div class="best-sellers__wrapper" id="best-sellers">
            <div class="best-sellers__info">
               <h2 class="best-sellers__title">Our Best Sellers</h2>
               <p class="best-sellers__text">
                  Deliver a smile to yourself or someone special with one of our
                  sustainable favorites.
               </p>
               <button class="best-sellers__btn">
                  Shop all products
                  <svg class="best-sellers__btn-svg">
                     <use
                        xlink:href="images/sprite.svg#arrow-right"
                        width="32"
                        height="14"
                     ></use>
                  </svg>
               </button>
            </div>
            <div class="best-sellers__slider-wrapper">
               <div class="best-sellers__slider">
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-1.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Assorted Card Set
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >Dogs</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 14.00</div>
                  </div>
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-2.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Assorted card set
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >North American Birds</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 14.00</div>
                  </div>
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-3.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Notebook Set of 3
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >New York, London, Paris</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 13.00</div>
                  </div>
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-1.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Assorted Card Set
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >Dogs</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 14.00</div>
                  </div>
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-2.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Assorted card set
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >North American Birds</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 14.00</div>
                  </div>
                  <div class="best-sellers__slider-item">
                     <div class="best-sellers__slider-img-box">
                        <a class="best-sellers__slider-img-link" href="#">
                           <img
                              class="best-sellers__slider-img"
                              src="images/bs-slider-3.avif"
                              alt="slider image"
                           />
                        </a>
                     </div>
                     <p class="best-sellers__slider-description">
                        Notebook Set of 3
                     </p>
                     <h3 class="best-sellers__slider-title">
                        <a class="best-sellers__slider-title-link" href="#"
                           >New York, London, Paris</a
                        >
                     </h3>
                     <div class="best-sellers__slider-price">$ 13.00</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="reviews">
      <div class="container">
         <div class="reviews__wrapper" id="reviews">
            <div class="reviews__img-box">
               <img
                  class="reviews__img"
                  src="images/reviews.avif"
                  alt="a photo with a postcard"
               />
            </div>
            <div class="reviews__slider-wrapper">
               <div class="reviews__slider-inner">
                  <div class="reviews__slider">
                     <div class="reviews__slider-item">
                        <div class="reviews__svg-box">
                           <svg class="top-banner__info-svg">
                              <use
                                 xlink:href="images/sprite.svg#stars"
                                 width="150"
                                 height="24"
                              ></use>
                           </svg>
                        </div>
                        <blockquote class="reviews__text">
                           Beautiful cards and very high quality. They were
                           shipped to me very quickly and the packaging was
                           awesome. Definitely recommend and will order again.
                        </blockquote>
                        <div class="reviews__autor">Tirzah</div>
                     </div>
                     <div class="reviews__slider-item">
                        <div class="reviews__svg-box">
                           <svg class="top-banner__info-svg">
                              <use
                                 xlink:href="images/sprite.svg#stars"
                                 width="150"
                                 height="24"
                              ></use>
                           </svg>
                        </div>
                        <blockquote class="reviews__text">
                           Lorem ipsum dolor sit amet consectetur, adipisicing
                           elit. Cupiditate atque sit illum quod qui optio
                           repellendus, necessitatibus recusandae dolorum?
                           Natus, hic. Fugiat neque nobis omnis, a cum placeat
                           ducimus! Nihil.
                        </blockquote>
                        <div class="reviews__autor">Julia</div>
                     </div>
                     <div class="reviews__slider-item">
                        <div class="reviews__svg-box">
                           <svg class="top-banner__info-svg">
                              <use
                                 xlink:href="images/sprite.svg#stars"
                                 width="150"
                                 height="24"
                              ></use>
                           </svg>
                        </div>
                        <blockquote class="reviews__text">
                           Lorem ipsum dolor sit amet consectetur adipisicing
                           elit. Ipsum eaque enim adipisci dolore maxime sed
                           assumenda at!
                        </blockquote>
                        <div class="reviews__autor">Olexandr</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="advantages">
      <div class="container">
         <div class="advantages__wrapper">
            <h3 class="advantages__title">Led by Transparency</h3>
            <div class="advantages__items">
               <div class="advantages__item">
                  <div class="advantages__img-box">
                     <img
                        class="advantages__img"
                        src="images/advantages-1.avif"
                        alt="advantage image"
                     />
                  </div>
                  <p class="advantages__info">
                     Fast shipping. Free on orders over $25.
                  </p>
               </div>
               <div class="advantages__item">
                  <div class="advantages__img-box">
                     <img
                        class="advantages__img"
                        src="images/advantages-2.avif"
                        alt="advantage image"
                     />
                  </div>
                  <p class="advantages__info">
                     Sustainable process from start to finish.
                  </p>
               </div>
               <div class="advantages__item">
                  <div class="advantages__img-box">
                     <img
                        class="advantages__img"
                        src="images/advantages-3.avif"
                        alt="advantage image"
                     />
                  </div>
                  <p class="advantages__info">
                     Unique designs and high-quality materials.
                  </p>
               </div>
               <div class="advantages__item">
                  <div class="advantages__img-box">
                     <img
                        class="advantages__img"
                        src="images/advantages-4.avif"
                        alt="advantage image"
                     />
                  </div>
                  <p class="advantages__info">
                     Partnering with small businesses in the USA.
                  </p>
               </div>
            </div>
            <button class="advantages__btn">
               Shop now
               <svg class="advantages__btn-svg">
                  <use
                     xlink:href="images/sprite.svg#arrow-right"
                     width="32"
                     height="14"
                  ></use>
               </svg>
            </button>
         </div>
      </div>
   </section>
   <section class="guide">
      <div class="container">
         <div class="guide__wrapper">
            <div class="guide__info">
               <h6 class="guide__subtitle">Inspiration</h6>
               <h2 class="guide__title">
                  The Ultimate Guide: What to Write in a Birthday Card
               </h2>
               <p class="guide__text">
                  <span>Celebrate the life you have!&nbsp</span>Birthdays are
                  the one time of year we get to celebrate those closest to us
                  and we should take the opportunity to let them know just how
                  much they are appreciated.
               </p>
               <button class="guide__btn">
                  Read Article
                  <svg class="guide__btn-svg">
                     <use
                        xlink:href="images/sprite.svg#arrow-right"
                        width="32"
                        height="14"
                     ></use>
                  </svg>
               </button>
            </div>
            <div class="guide__img-box">
               <img
                  class="guide__img"
                  src="images/guide-img.avif"
                  alt="postcard photo"
               />
            </div>
         </div>
      </div>
   </section>
   <section class="our-products">
      <div class="container">
         <div class="our-products__wrapper" id="our-products">
            <h2 class="our-products__title">Explore our products</h2>
            <div class="our-products__items">
               <div class="our-products__item">
                  <div class="our-products__img-box">
                     <img
                        src="images/our-products-1.avif"
                        alt="a photo with a postcard"
                        class="our-products__img"
                     />
                  </div>
                  <h5 class="our-products__item-title">
                     <a class="our-products__title-link" href="#"
                        >Greeting Cards</a
                     >
                  </h5>
               </div>
               <div class="our-products__item">
                  <div class="our-products__img-box">
                     <img
                        src="images/our-products-2.avif"
                        alt="a photo with a postcard"
                        class="our-products__img"
                     />
                  </div>
                  <h5 class="our-products__item-title">
                     <a class="our-products__title-link" href="#"
                        >Assorted Card Sets</a
                     >
                  </h5>
               </div>
               <div class="our-products__item">
                  <div class="our-products__img-box">
                     <img
                        src="images/our-products-3.avif"
                        alt="a photo with a postcard"
                        class="our-products__img"
                     />
                  </div>
                  <h5 class="our-products__item-title">
                     <a class="our-products__title-link" href="#">Notebooks</a>
                  </h5>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="updates">
      <div class="container">
         <div class="updates__wrapper">
            <h2 class="updates__title">
               Say hi and follow along for updates
               <a class="updates__title-link" href="#">@twigspaper</a>
            </h2>
            <div class="updates__inner">
               <div class="updates__img-box">
                  <img
                     class="updates__img"
                     src="images/updates.avif"
                     alt="collage"
                  />
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
